# **Data Collection Notebook**

## Objectives

* To fetch the data from Kaggle and save it as raw data.
* Inspect the data and save it under: <code>outputs/datasets/collection</code>

## Inputs

* Kaggle JSON File - this is the authentication token to grant access to the dataset. 

## Outputs

* To generate the *Datasets* to:
    * <code>outputs/datasets/collection/HousePriceRecords.csv</code>
    * <code>outputs/datasets/collection/InheritedHouses.csv</code>

## Additional Comments

* The <code>HousePriceRecords.csv</code> is the data to be used to build the machine learning models.
* The <code>InheritedHouses.csv</code> is the data with the inherited houses whose prices the client would like to predict.

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/heritage-housing-issues/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/heritage-housing-issues'

---

# Fetch the data from Kaggle

First we must install the *Kaggle* package in order to fetch the data:

In [4]:
%pip install kaggle==1.5.12

Requirement already satisfied: kaggle==1.5.12 in ./.venv/lib/python3.12/site-packages (1.5.12)
Requirement already satisfied: six>=1.10 in ./.venv/lib/python3.12/site-packages (from kaggle==1.5.12) (1.16.0)
Requirement already satisfied: certifi in ./.venv/lib/python3.12/site-packages (from kaggle==1.5.12) (2023.11.17)
Requirement already satisfied: python-dateutil in ./.venv/lib/python3.12/site-packages (from kaggle==1.5.12) (2.8.2)
Requirement already satisfied: requests in ./.venv/lib/python3.12/site-packages (from kaggle==1.5.12) (2.31.0)
Requirement already satisfied: tqdm in ./.venv/lib/python3.12/site-packages (from kaggle==1.5.12) (4.66.1)
Requirement already satisfied: python-slugify in ./.venv/lib/python3.12/site-packages (from kaggle==1.5.12) (8.0.1)
Requirement already satisfied: urllib3 in ./.venv/lib/python3.12/site-packages (from kaggle==1.5.12) (2.1.0)
Requirement already satisfied: text-unidecode>=1.3 in ./.venv/lib/python3.12/site-packages (from python-slugify->kaggle==1.5.12) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests->kaggle==1.5.12) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests->kaggle==1.5.12) (3.6)
Note: you may need to restart the kernel to use updated packages.

**If it is already installed, this step can be skipped.**

Next we will use the **kaggle.json** token to be able to authenticate and access the data:

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

The client has provided the following dataset: [Housing Prices](/www.kaggle.com/datasets/codeinstitute/housing-prices-data).

Firstly, the *Dataset* needs to be downloaded and set to a destination folder:

In [6]:
KaggleDatasetPath = "codeinstitute/housing-prices-data"
DestinationFolder = "inputs/datasets/raw"   
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Downloading housing-prices-data.zip to inputs/datasets/raw
  0%|                                               | 0.00/49.6k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 49.6k/49.6k [00:00<00:00, 2.68MB/s]

Finally, the downloaded file needs to be unzipped, and the **kaggle.json** file deleted:

In [7]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder} \
  && rm {DestinationFolder}/*.zip \
  && rm kaggle.json

Archive:  inputs/datasets/raw/housing-prices-data.zip
  inflating: inputs/datasets/raw/house-metadata.txt
  inflating: inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv
  inflating: inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv

---

# Load and Inspect House Price Records

Next we will load and inspect the **House Price Records** data:

In [8]:
import pandas as pd
df_house_prices = pd.read_csv(f"inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv")
print(df_house_prices.shape)
df_house_prices.head()

(1460, 24)

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,NaN,460,RFn,...,80.0,0.0,0,8,6,1262,NaN,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,NaN,2001,2002,223500
3,961,NaN,NaN,No,216,ALQ,540,NaN,642,Unf,...,60.0,0.0,35,5,7,756,NaN,1915,1970,140000
4,1145,NaN,4.0,Av,655,GLQ,490,0.0,836,RFn,...,84.0,350.0,84,5,8,1145,NaN,2000,2000,250000

Next we will look at the *Dataframe* summary:

In [9]:
df_house_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1stFlrSF       1460 non-null   int64
 1   2ndFlrSF       1374 non-null   float64
 2   BedroomAbvGr   1361 non-null   float64
 3   BsmtExposure   1422 non-null   object
 4   BsmtFinSF1     1460 non-null   int64
 5   BsmtFinType1   1315 non-null   object
 6   BsmtUnfSF      1460 non-null   int64
 7   EnclosedPorch  136 non-null    float64
 8   GarageArea     1460 non-null   int64
 9   GarageFinish   1225 non-null   object
 10  GarageYrBlt    1379 non-null   float64
 11  GrLivArea      1460 non-null   int64
 12  KitchenQual    1460 non-null   object
 13  LotArea        1460 non-null   int64
 14  LotFrontage    1201 non-null   float64
 15  MasVnrArea     1452 non-null   float64
 16  OpenPorchSF    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  OverallQual    1460 non-null   int64
 19  TotalBsmtSF    1460 non-null   int64
 20  WoodDeckSF     155 non-null    float64
 21  YearBuilt      1460 non-null   int64
 22  YearRemodAdd   1460 non-null   int64
 23  SalePrice      1460 non-null   int64
dtypes: float64(7), int64(13), object(4)
memory usage: 273.9+ KB

Next we will check for duplicated data:

In [10]:
df_house_prices[df_house_prices.duplicated(subset=None)]

Empty DataFrame
Columns: [1stFlrSF, 2ndFlrSF, BedroomAbvGr, BsmtExposure, BsmtFinSF1, BsmtFinType1, BsmtUnfSF, EnclosedPorch, GarageArea, GarageFinish, GarageYrBlt, GrLivArea, KitchenQual, LotArea, LotFrontage, MasVnrArea, OpenPorchSF, OverallCond, OverallQual, TotalBsmtSF, WoodDeckSF, YearBuilt, YearRemodAdd, SalePrice]
Index: []

[0 rows x 24 columns]

There is no duplicated data.

#### Findings:

* The *Dataset* contains **1460** entries of data and **24** columns.
* There is a mix of the follow data types: <code>int64</code>,<code>float64</code> and <code>object</code>.

---

# Load and Inspect Inherited Houses

Next we will load and inspect the **Inherited Houses** data:

In [11]:
df_inherited_houses = pd.read_csv(f"inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv")
print(df_inherited_houses.shape)
df_inherited_houses.head()

(4, 23)

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd
0,896,0,2,No,468.0,Rec,270.0,0,730.0,Unf,...,11622,80.0,0.0,0,6,5,882.0,140,1961,1961
1,1329,0,3,No,923.0,ALQ,406.0,0,312.0,Unf,...,14267,81.0,108.0,36,6,6,1329.0,393,1958,1958
2,928,701,3,No,791.0,GLQ,137.0,0,482.0,Fin,...,13830,74.0,0.0,34,5,5,928.0,212,1997,1998
3,926,678,3,No,602.0,GLQ,324.0,0,470.0,Fin,...,9978,78.0,20.0,36,6,6,926.0,360,1998,1998

Next we will look at the *Dataframe* summary:

In [12]:
df_inherited_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1stFlrSF       4 non-null      int64
 1   2ndFlrSF       4 non-null      int64
 2   BedroomAbvGr   4 non-null      int64
 3   BsmtExposure   4 non-null      object
 4   BsmtFinSF1     4 non-null      float64
 5   BsmtFinType1   4 non-null      object
 6   BsmtUnfSF      4 non-null      float64
 7   EnclosedPorch  4 non-null      int64
 8   GarageArea     4 non-null      float64
 9   GarageFinish   4 non-null      object
 10  GarageYrBlt    4 non-null      float64
 11  GrLivArea      4 non-null      int64
 12  KitchenQual    4 non-null      object
 13  LotArea        4 non-null      int64
 14  LotFrontage    4 non-null      float64
 15  MasVnrArea     4 non-null      float64
 16  OpenPorchSF    4 non-null      int64
 17  OverallCond    4 non-null      int64
 18  OverallQual    4 non-null      int64
 19  TotalBsmtSF    4 non-null      float64
 20  WoodDeckSF     4 non-null      int64
 21  YearBuilt      4 non-null      int64
 22  YearRemodAdd   4 non-null      int64
dtypes: float64(7), int64(12), object(4)
memory usage: 868.0+ bytes

Next we will check for duplicated data:

In [13]:
df_inherited_houses[df_inherited_houses.duplicated(subset=None)]

Empty DataFrame
Columns: [1stFlrSF, 2ndFlrSF, BedroomAbvGr, BsmtExposure, BsmtFinSF1, BsmtFinType1, BsmtUnfSF, EnclosedPorch, GarageArea, GarageFinish, GarageYrBlt, GrLivArea, KitchenQual, LotArea, LotFrontage, MasVnrArea, OpenPorchSF, OverallCond, OverallQual, TotalBsmtSF, WoodDeckSF, YearBuilt, YearRemodAdd]
Index: []

[0 rows x 23 columns]

There is no duplicated data.

#### Findings:

* The *Dataset* contains **4** entries of data and **23** columns.
* There is a mix of the follow data types: <code>int64</code>,<code>float64</code> and <code>object</code>.

---

# Push files to Repo

In [14]:
import os
try:
  os.makedirs(name='outputs/datasets/collection')
except Exception as e:
  print(e)

df_house_prices.to_csv(f"outputs/datasets/collection/HousePriceRecords.csv", index=False)
df_inherited_houses.to_csv(f"outputs/datasets/collection/InheritedHouses.csv", index=False)

---